<!-- src/app/announcements/announcements.component.html -->
<div class="announcements-container">
    <h1>Announcements</h1>
    <div class="announcement-grid">
      <div *ngFor="let announcement of announcements" class="announcement-card">
        <div [ngClass]="{'high-priority': announcement.priority === 'HIGH_PRIORITY'}">
          <h2>{{ announcement.title }}</h2>
          <p>{{ announcement.content }}</p>
          <small>{{ announcement.date }}</small>
        </div>
      </div>
    </div>
  </div>