/* src/app/app.component.css */
.navbar .logo a {
    color: white; /* Adjust the color as needed */
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .logo a:hover {
    text-decoration: underline;
  }