<header>
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/home">GatorClubLife</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/organizations">Organizations</a></li>
      <li><a routerLink="/events">Events</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
    <div class="login-btn">
      <ng-container *ngIf="(isLoggedIn$ | async); else loginLink">
        <span>Hi, {{ (userName$ | async) }}!</span>
        &nbsp;
        <button (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #loginLink>
        <a routerLink="/login">Student Login</a>
      </ng-template>
    </div>  
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
  <app-announcements *ngIf="showAnnouncements"></app-announcements>
</main>
